// INGREDIENT CARD MARKET
.ingredientCardMarket {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #032024, #1e626b);
  color: white;
  border-radius: 0px 0px 0px 20px;

  // LEFT PART
  .cardLeft {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      max-width: 70%;
      object-fit: contain;
    }
  }

  // MIDDLE PART
  .cardMiddle {
    width: 40%;

    button {
      border: none;
      width: 100%;
      height: 50px;
      color: white;
      text-shadow: 0px 0px 10px #fff;
      font-weight: 800;
      text-transform: uppercase;
      transition: 0.3s;
    }
    .rarityAndType {
      width: 100%;
      height: 30px;
      display: flex;
      padding: 0px 3px;

      .rarity {
        display: flex;
        width: 85%;

        .star {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 12px;
        }
      }
      .categoriTypeSVG {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // RIGHT PART
  .cardRight {
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      color: orange;
    }

    .multiplier {
      display: flex;
      width: 100%;
      height: 25px;
      justify-content: space-between;
    
      .multiplierButton {
        width: 25%;
        background-color: none;
        border: none;
        color: white;
        transition: 0.3s;
    
        &:last-child {
          border-right: none;
        }
    
        &:hover {
          background-color: #fff;
          color: black;
        }
      }
    
      .multiplierButton.active {
        background-color: #fff;
        color: black;
      }
    }
    

    .price p {
      height: 25px;
      margin: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
    }
    .quantity {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;

      .quantityStock {
        width: 100%;
        margin: 0px 10px;
        display: flex;
        align-items: center;
        font-size: 12px;

        p {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .quantityButton {
        display: flex;
        height: 100%;

        button {
          width: 30px;
          border-top: none;
          border-right: none;
          border-bottom: none;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          transition: 0.3s;

          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
  }
}

//////////////////// COLOR CHANGE DEPENDING ON RARITY LEVEL ////////////////////
.commonStyle {
  border: 2px solid #00aeff;
  box-shadow: 0px 0px 10px #00aeff;
  .cardLeft {
    img {
      filter: drop-shadow(0 0 10px #00aeff);
    }
  }
  .cardMiddle {
    border-left: 2px solid #00aeff;
    border-right: 2px solid #00aeff;
    .rarity {
      border-right: 2px solid #00aeff;
    }
  }
  button {
    background: linear-gradient(to top, #00aeff, transparent);
    &.buttonWithOverlay::after {
      border-bottom: 2px solid #00aeff;
    }
  }
  .cardRight .multiplier {
    border-bottom: 2px solid #00aeff;
    .multiplierButton {
      border-right: 2px solid #00aeff;
    }
  }
  .quantity {
    border-top: 2px solid #00aeff;
    div button {
      border-left: 2px solid #00aeff;
    }
  }
}

.uncommonStyle {
  border: 2px solid #02e171;
  box-shadow: 0px 0px 10px #02e171;
  .cardLeft {
    img {
      filter: drop-shadow(0 0 10px #02e171);
    }
  }
  .cardMiddle {
    border-left: 2px solid #02e171;
    border-right: 2px solid #02e171;
    .rarity {
      border-right: 2px solid #02e171;
    }
  }
  button {
    background: linear-gradient(to top, #02e171, transparent);
    &.buttonWithOverlay::after {
      border-bottom: 2px solid #02e171;
    }
  }
  .cardRight .multiplier {
    border-bottom: 2px solid #02e171;
    .multiplierButton {
      border-right: 2px solid #02e171;
    }
  }
  .quantity {
    border-top: 2px solid #02e171;
    div button {
      border-left: 2px solid #02e171;
    }
  }
}

.rareStyle {
  border: 2px solid #c100f1;
  box-shadow: 0px 0px 10px #c100f1;
  .cardLeft {
    img {
      filter: drop-shadow(0 0 10px #c100f1);
    }
  }
  .cardMiddle {
    border-left: 2px solid #c100f1;
    border-right: 2px solid #c100f1;
    .rarity {
      border-right: 2px solid #c100f1;
    }
  }
  button {
    background: linear-gradient(to top, #c100f1, transparent);
    &.buttonWithOverlay::after {
      border-bottom: 2px solid #c100f1;
    }
  }
  .cardRight .multiplier {
    border-bottom: 2px solid #c100f1;
    .multiplierButton {
      border-right: 2px solid #c100f1;
    }
  }
  .quantity {
    border-top: 2px solid #c100f1;
    div button {
      border-left: 2px solid #c100f1;
    }
  }
}

.epicStyle {
  border: 2px solid #ffb700;
  box-shadow: 0px 0px 10px #ffb700;
  .cardLeft {
    img {
      filter: drop-shadow(0 0 10px #ffb700);
    }
  }
  .cardMiddle {
    border-left: 2px solid #ffb700;
    border-right: 2px solid #ffb700;
    .rarity {
      border-right: 2px solid #ffb700;
    }
  }
  button {
    background: linear-gradient(to top, #ffb700, transparent);
    &.buttonWithOverlay::after {
      border-bottom: 2px solid #ffb700;
    }
  }
  .cardRight .multiplier {
    border-bottom: 2px solid #ffb700;
    .multiplierButton {
      border-right: 2px solid #ffb700;
    }
  }
  .quantity {
    border-top: 2px solid #ffb700;
    div button {
      border-left: 2px solid #ffb700;
    }
  }
}

.buttonWithOverlay {
  position: relative;
}

.buttonWithOverlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    #ffffffcc,
    transparent,
    transparent,
    #ffffffcc
  );
}
