*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  cursor: url("../../public/images/Cursor_Pointer.png"), auto;
  button:hover,
  a:hover {
    cursor: url("../../public/images/Cursor_Pointer_Hover.png"), pointer;
  }
}

#_ _ next {
  min-height: 100vh;
}

main {
  min-height: 100vh;
}