.marketModalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #222222ee;
  z-index: 1;

  .marketModalWindow {
    position: absolute;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: 100%;
    max-height: 800px;
    min-height: 600px;
    border: 2px solid #00aeff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // MODAL TOP
  .modalTop {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #333;
    border-radius: 10px 10px 0px 0px;

    .filterAndGoldAndClose {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #00aeff;

      .filter,
      .close {
        width: 10%;
        max-width: 40px;
        height: 40px;
        color: #fff;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
      .filter {
        background-color: #24a124;
        border-radius: 8px 0px 0px 0px;
      }
      .close {
        background-color: #ff0062;
        border-radius: 0px 8px 0px 0px;
        transition: 0.3s;
      }
      .close:hover {
        background-color: #c41b5c;
      }
      .gold,
      .lvl {
        width: 25%;
        height: 40px;
        text-align: center;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .gold {
        color: #ffbb00;
      }
      .lvl {
        color: #51a851;
      }
      .title {
        width: 30%;
        height: 40px;
        color: rgb(215, 236, 255);
        text-align: center;
        font-size: 18px;
        border-right: 1px solid #00aeff;
        border-left: 1px solid #00aeff;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        line-height: 1;
      }
    }
  }

  // MODAL MIDDLE
  .modalMiddle {
    height: 50%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* Pour Chrome, Safari et autres navigateurs basés sur WebKit */
    &::-webkit-scrollbar {
      width: 10px; /* Largeur de la barre de défilement */
      min-width: 10px; /* Largeur minimale de la barre de défilement */
    }

    &::-webkit-scrollbar-track {
      background-color: #bababa; /* Couleur de fond de la piste de la barre de défilement */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #00aeff; /* Couleur de la barre de défilement */
      border: solid 1px #00aeff; /* Contour de la barre de défilement */
      border-radius: 5px; /* Bord arrondi de la barre de défilement */
      height: 300px; /* Hauteur minimale de la barre de défilement */
      min-height: 300px; /* Hauteur minimale de la barre de défilement */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #00aeff; /* Couleur de survol de la barre de défilement */
    }

    /* Pour Firefox */
    scrollbar-width: thin; /* Épaisseur de la barre de défilement */
    scrollbar-color: #00aeff #bababa; /* Couleur de la barre de défilement */

    &::-webkit-scrollbar-thumb {
      min-height: 50px; /* Hauteur minimale de la barre de défilement */
    }
  }
}

