// customCursor.module.scss
.custom-cursor {
  z-index: 9999;
  position: fixed;
  width: 4px; /* Diamètre du curseur */
  height: 4px; /* Diamètre du curseur */
  border-radius: 50%; /* Rendre le curseur rond */
  background-color: #ffffff; /* Couleur du curseur */
  pointer-events: none; /* Ignorer les événements de souris pour que le curseur ne bloque pas les éléments en dessous */
  animation: trailEffect 0.25s ease-out forwards; /* Ajouter l'animation à la traînée */
  transition: background-color 0.25s ease-out; /* Ajouter une transition pour la couleur de fond */
  box-shadow: 0px 0px 10px 1px #04f6d6;
}

@keyframes trailEffect {
  0% {
    transform: scale(0); /* Début de l'animation : pas de traînée */
  }
  100% {
    transform: scale(1); /* Fin de l'animation : traînée à pleine taille */
  }
}
