.apothecaryContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.apothecaryTable {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #6B5541;
}

.apothecaryCabinet {
  // position: absolute;
  width: 90%;
  height: 1/3;
  background: linear-gradient(to top, #463b30, #635545);
  // bottom: 0;
  display: grid;
  // flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  // gap: 20px;
  // border-radius: 10px 10px 0px 0px;
  padding: 20px 10px 20px 10px;

  

  button {
    background-color: #574b40;
    border: 1px solid black;
    width: 90%;
    height: 80%;
    cursor: pointer;
    transition: 0.3s;
    grid-column: auto;
    grid-row: auto;
    margin: 0 auto;

    &:hover {
      background-color: #685a4c;
    }
  }
}
