.gamingPage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#465555, #2f3d3d);

  & > .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 100%;
    width: 90%;
  }

  h1 {
    font-size: 30px;
    color: #222;
  }

  p {
    color: #ccc;
  }

  span {
    color: #ec8a08;
  }
}

// CONTAINER FOR BUTTONS / ⚙️OPTIONS, 🗄️INVENTORY, 🥸CLIENTS, 🧺MARKET
.btnContainer {
  position: absolute;
  width: 100%;
  top: 25%;
  display: flex;
  justify-content: center;
}
